<h1>Editing Contract Plan</h1>

<%= render 'form', contract_plan: @contract_plan %>

<%= link_to 'Show', @contract_plan, :class => "btn"%> |
<%= link_to 'Back', contract_plans_path, :class => "btn"%>
