<!--<p id="notice"><%= notice %></p>-->

<h1>Contract Plans</h1>

<div class="summary-group row">
  <% @contract_plans.each do |contract_plan| %>
    <%= render contract_plan %>
  <% end %>
</div>

<br>

<%= link_to('New Contract Plan', new_contract_plan_path, class: "btn-highlight") if current_user.admin? %>

